@import 'scss/special_sommaire.scss';
@import 'scss/article.scss';
@import 'scss/fonts.scss';

/* Gnérale */

* {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

table,
th,
td {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

/* HEADER MENU*/
header {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-left: 20PX;
    margin-right: 20PX;
}

header h1 {
    flex-basis: 150px;
    flex-shrink: 0;
    height: 30px;
    width: auto;
    text-transform: uppercase;
    font-family: 'Crete round', serif;
    font-size: 30px;
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 50px;
    align-items: center;
}

.menu li a {
    color: black;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 20px;
}


header img {
    justify-content: center;
    padding-left: 50px;
}

/* SECTION IMAGE BLOCK*/

.section-image {
    height: 460px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-card {
    height: 1024px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*SECTION CARD VILLE*/

.container-card {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1px;
}

.container-textcard {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    text-align: center;
    height: 500px;
    width: 200px;

}

.container-textcard p {
    text-align: justify;
}

footer {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.footer1 {
    flex-grow: 1;
    height: 80px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 0.5px solid darkred;
}

.footer2 {
    flex-grow: 1;
    height: 80px;
    background-color: rgb(255, 255, 255);
    color: white;
    border: 0.5px solid rgb(155, 155, 155);
}

.footer3 {
    flex-grow: 1;
    height: 80px;
    background-color: rgb(4, 105, 0);
    color: white;
    border: 0.5px solid darkgreen;
}


@media screen and (max-width: 768px) {

    /* Page sommaire */
    .section-card {
        height: 600px;
    }

    .container-textcard {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        height: 600px;
        font-size: 12px;

    }

    /* Page article */
    .topofpage {
        height: 2305px;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .content {
        order: 1;
        width: 768px;
    }

    .content img {
        width: 768px;
    }

    .content h2,
    p {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    .content p {
        font-size: 14px;
    }

    .side {
        order: 0;
        font-size: 14px;
        height: 420px;
        width: 468px;
    }

    .side_1 {
        order: 0;
        height: 420px;
    }

    .cuisine {
        height: 850px;
    }

    .recette {
        height: 750px;
        width: 468px;
    }

    .recette p {
        font-size: 14px;
    }

    .ingredient {
        height: 750px;
    }

    .link {
        height: 100px;
        width: 768px;
    }

    .link ul {
        padding-top: 10px;
    }
}

@media screen and (max-width: 320px) {

    /* Page sommaire */
    header {
        margin-left: 0px;

    }

    .section-card {
        height: 2000px;
    }

    .section-image {
        height: 220px;
    }

    .container-textcard h4 {
        font-size: 16px;
    }

    /* Page article */
    .topofpage {
        height: 4850px;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .content {
        order: 1;
        width: 320px;
    }

    .content img {
        width: 320px;
    }

    .content h2,
    p {
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
    }

    .content p {
        font-size: 14px;
    }

    .side {
        order: 0;
        font-size: 14px;
        height: 420px;
        width: 320px;
    }

    .side_1 {
        order: 0;
        height: 360px;
        width: 320px;
    }

    .cuisine {
        height: 1870px;

    }

    .recette {
        order: -1;
        height: 1100px;
        width: 468px;
    }

    .recette p {
        font-size: 14px;
    }

    .ingredient {
        padding: 10px;
        height: 650px;
        width: 320px;
    }

    .link {
        height: 100px;
        width: 768px;
    }

    .link ul {
        padding-top: 10px;
    }
}