@charset "UTF-8";
/*SOUS MENU*/
.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: red;
}

nav > ul li:hover .sous {
  display: block;
}

.sous li {
  list-style: none;
  float: none;
  width: 100%;
  text-align: left;
}

.sous a {
  padding: 10px;
  border-bottom: none;
}

.sous a:hover {
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.1);
}

.déroulant > a::after {
  content: "▼";
  font-size: 12px;
  color: rgba(255, 0, 0, 0.5);
}

.sous {
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.topofpage {
  height: 2150px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
}

.side_1 {
  box-sizing: border-box;
  height: 2150px;
  width: 300px;
  background-color: red;
}

.side {
  padding: 10px;
  box-sizing: border-box;
  height: 2150px;
  width: 300px;
  background-color: green;
  color: white;
}

.side p {
  text-align: justify;
}

.tab {
  margin: 10px;
}

.content {
  width: 814px;
}

.photo_art img {
  width: 814px;
}

.ban {
  display: flex;
  flex-flow: row;
  flex-flow: wrap;
  height: 100px;
  justify-content: center;
}

.cuisine {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  height: 700px;
  justify-content: space-between;
}

.recette {
  width: 814px;
  height: 700px;
}

.ingredient {
  background-color: red;
  height: 700px;
  width: 300px;
}

.link {
  background-color: green;
  height: 700px;
  width: 300px;
}

.link ul {
  list-style: none;
  padding-top: 30px;
}

.link ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 30px;
}

* {
  font-family: "Brygada 1918", serif;
  font-family: "Crete Round", serif;
  font-family: "Italianno", cursive;
  font-family: "Vesper Libre", serif;
}

/* Gnérale */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

table, th, td {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

/* HEADER MENU*/
header {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header img {
  justify-content: center;
  padding-left: 50px;
}

.titre-menu h1 {
  height: 30px;
  width: 320px;
  text-transform: uppercase;
  font-family: "Crete round", serif;
  font-size: 30px;
  text-align: center;
  margin-left: 30px;
  margin-right: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  list-style: none;
  height: 50px;
  border: 1px solid brown;
  align-items: center;
}

.menu li a {
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 20px;
}

/* SECTION IMAGE BLOCK*/
.section-image {
  height: 460px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.section-image div {
  height: 460px;
  width: 940px;
}

.section-card {
  height: 1024px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*SECTION CARD VILLE*/
.container-card {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1px;
}

.container-textcard {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  text-align: center;
  height: 500px;
  width: 200px;
}

.container-textcard p {
  text-align: justify;
}

footer {
  display: flex;
  height: 120px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.footer1 {
  display: inline-flex;
  height: 80px;
  width: 300px;
  background-color: blue;
  border-radius: 15px;
  color: white;
  align-items: center;
  justify-content: center;
}

.footer2 {
  display: flex;
  height: 80px;
  width: 300px;
  background-color: blue;
  border-radius: 15px;
  color: white;
  align-items: center;
  justify-content: center;
}

.footer3 {
  display: flex;
  height: 80px;
  width: 300px;
  background-color: blue;
  border-radius: 15px;
  color: white;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .section-card {
    height: 600px;
  }
  .container-textcard {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
    height: 300px;
    width: 200px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
